<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js</title>
</head>
<body>
    <div id="root">
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
        <input type="text" id="input" v-model="newName">
        <button id="button" @click="addName">Add Name</button>
    </div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="assets/js/app.js"></script>
<script>
    const app = new Vue({
        el: "#root",
        data:{
            newName: '',
            names: ['joe','Mary','Jane','Jack']
        },
        methods: {
            addName(){
                this.names.push(this.newName);
                this.newName = ''
            }
        },
       
    });
    
</script>
</html>